<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon App</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <link rel='stylesheet' href='/app.css'>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
